*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: centre;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
	display:inline-block;
	list-style-type: none;
}
nav ul li{
	display:inline-block;
	margin-right :20px;
}
a{
    text-decoration:none;
    color: #800000;
}
p{
    color: #000000;
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width:250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
 }
 .footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
 }
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img {
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin 20px 0;
}
.copyright{
    margin-top: 10px;
    text-align: center;
}
.menu-icon{
    width: 32px;
    margin-left:20px;
    height:28px;
    display: none;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #800000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #04AA6D;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;

  max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}