<!DOCTYPE html>
<html lang=""en">

<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitamboz | Online Electronics Shop</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
</head>

<body>
<div class="header2">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="images/mitambozlogo.png" width="125px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/account">Account</a></li>
                </ul>
            </nav>
            <img src="images/cart2.png" width ="30px"height="30px">
            <img src="images/pic14.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
</div>

<div class="small-container cart-page">
    <table>
        <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Total</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                <img src="images/pic2.jpg">
                    <div>
                        <p>Nikon D7500</p>
                        <small>Price: Ksh 130,000</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>Ksh 130,000</td>
        </tr>

    </table>
    <div class="total-price">
    <table>
        <tr>
            <td>Subtotal</td>
            <td>130,000</td>
        </tr>
        <tr>
            <td>Delivery</td>
            <td>300</td>
        </tr>
        <tr>
            <td>total</td>
            <td>130,300</td>
        </tr>
    </table>

</div>



</div>
<!----------------------- footer -------------------------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download our Android and IOS apps</p>
                <div class="app-logo">
                    <img src="images/mitambozlogo.png">
                    <img src="images/mitambozlogo.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="images/mitambozlogo.png">
                <p>Our only agenda is to guarantee high quality electronics that will help you live your best life</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blogs</li>
                    <li>Privacy Policy</li>
                    <li>Trade In</li>
                </ul>
            </div>
             <div class="footer-col-4">
                <h3>Connect With Us!</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                    <li>Twitter</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 - Manenoz Ltd</p>
    </div>
</div>

<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
            if ( MenuItems.style.maxHeight == "0px")
            { MenuItems.style.maxHeight = "200px";}
            else
            { MenuItems.style.maxHeight = "0px";}
            }
</script>

</body>
</html>